

.main {
    margin : 0 auto;
    display : flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    margin : 0 auto;
    width : 80vw;
    height: 40vh;
    background-color: black;
    display: flex;
    justify-content: center;
    padding : 3%;
}

.flexInputs{
    margin-top: 5%;
}

#box1, #box2, #box3 {
    margin : 0 1%;
    text-align: center;
    font-weight: bold;
    color: white;
 
}
#box1{
    background-color: blueviolet;
    width : 50px;
    flex : 1;
    /* flex-grow : 2; */
}

#box2{
    background-color: blueviolet;
    width : 50px;
    flex : 1;
    /* flex : 5; */
    /* flex-grow : 2; */
    /* flex-basis: 500px; */
}

#box3{
    background-color: blueviolet;
    width : 50px;
    flex : 1;
    /* flex : 1; */
}

input {
    width : 50px;
    margin-right:20px;
}


button {
    background-color: blueviolet;
    color : white;
    border : none
}

button:hover {
    background-color: black;
}