body{
    --font-ubuntu : 'Ubuntu', sans-serif;
}

.main {
    font-family: var(--font-ubuntu);
    margin : 0 auto;
    display : flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    margin : 0 auto;
    width : 80vw;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    padding : 3%;
}

.flexInputs{
    margin: 3% auto;
    width : 600px;
}

#form1 {
    margin: 0 auto;
}



#box1, #box2, #box3 {
    margin : 0 1%;
    text-align: center;
    font-weight: bold;
    color: white;
    margin :1%;
 
}
#box1{
    background-color: blueviolet;
    width : 50px;
    flex : 1;
    /* flex-grow : 2; */
}

#box2{
    background-color: blueviolet;
    width : 50px;
    
    flex : 1;
    /* flex : 5; */
    /* flex-grow : 2; */
    /* flex-basis: 500px; */
}

#box3{
    background-color: blueviolet;
    width : 50px;
    flex : 1;
    /* flex : 1; */
}

input {
    width : 50px;
    margin-right:20px;
}


button {
    background-color: blueviolet;
    color : white;
    border : none;
    margin-top : 1%;
    padding:3%;
}

button:hover {
    background-color: black;
}
h2 {
    /* font-size : 1.5rem; */
    display : inline;
    margin-right: 1%;

}