body{
    --font-ubuntu : 'Ubuntu', sans-serif;
    background-color: #fefae0;
}

.main {
    font-family: var(--font-ubuntu);
    margin : 0 auto;
    display : flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    margin : 3% auto;
    width : 80vw;
    height: 40vh;
    background-color: #023047;
    display: flex;
    justify-content: center;
    padding : 3%;
}

.flexInputs{
    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#form1 {
    /* margin : 0 auto; */
    width : 590px;
    padding : 3%;
    border : 1px solid black;
}

.Definition__flexgrow{
    margin-top: 3%;
    width : 590px;
    padding : 3%;
    border : 1px solid black;
}



#box1, #box2, #box3 {
    margin : 0 1%;
    /* text-align: center; */
    /* font-weight: bold; */
    color: white;
    margin :1%;
    display : flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    font-size : 14px;
    background-color: blueviolet;
    background: linear-gradient(140deg, #e7512b, #f4a261);
    width : 50px;
    flex : 1;
 
}


input {
    width : 40px;
    margin-right:20px;
}


button {
    background-color: #023047;
    color : white;
    border : none;
    margin-top : 3%;
    padding:3%;
}

button:hover {
    background: linear-gradient(140deg, #e7512b, #f4a261);
    border : 1px solid #023047
}
h2 {
    /* font-size : 1.5rem; */
    display : inline;
    margin-right: 1%;

}
h1 {
    font-size: 1.5rem;
}